- @page.parts.each do |part|
  .content
    = part.body.html_safe

.row
  - Refinery::Image.all.each do |image|
    .large-2.small-12.columns
      = link_to image_tag(image.thumbnail_image, :class => "imgshadow"), image.url

